:root {
  --primal-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --bg-button-color: #f5f4fa;
  --hero-footer-bg: #2f303a;
  --footer-addres-color: rgba(255, 255, 255, 0.6);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--primal-text-color);
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* logo */
.logo {
  color: var(--black-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-first-part {
  color: var(--accent-color);
}

footer .logo {
  color: var(--white-color);
}

/* header nav list */
.nav-bar .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-bar .link:hover,
.nav-bar .link:focus {
  color: var(--accent-color);
}

.nav-bar .current {
  color: var(--accent-color);
}

/* header address */
.header-address .contact {
  color: var(--primal-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-address .contact:hover,
.header-address .contact:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--hero-footer-bg);
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .hero-button {
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--title-text-color);
  background-color: var(--bg-button-color);
}

/* sections */

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* benefits section */

.benefits-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14px;
  text-transform: uppercase;
}

.benefits-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* team list */

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.18;
}

/* footer */

footer {
  background-color: var(--hero-footer-bg);
}
.footer-address .street,
.footer-address .contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-address .street {
  color: var(--white-color);
}

.footer-address .contact {
  color: var(--footer-addres-color);
}

.footer-address .street:hover,
.footer-address .street:focus,
.footer-address .contact:hover,
.footer-address .contact:focus {
  color: var(--accent-color);
}

/* portfolio page */
/* filter */
.filter .filter-button {
  color: var(--title-text-color);
  background-color: var(--bg-button-color);
  font-family: inherit;
  cursor: pointer;
}

.filter .filter-button:hover,
.filter .filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Works */
.works-list .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list .text {
  font-size: 16px;
  line-height: 1.88;
}
